﻿
@{
    
    Layout = "~/Views/Shared/MainMasterLayout.cshtml";
}


<div class="control-label col-md-8">

    @ViewBag.MyMessage
    @ViewBag.MyMessage2

    <button class="btn-success"><a href="/Home/Create">Add Employee</a></button>

    <table border="1" class="table" style="margin:10px ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        @foreach (var e1 in Model)
        {

            <tbody>
                <tr>
                    <td>@e1.Id</td>
                    <td>@e1.Name</td>
                    <td>@e1.Address</td>
                    <td> <a style="text-decoration-style:none; color:wheat" href="/Home/Edit/@e1.Id">Edit </a>  </td>
                    <td>  <a style="text-decoration-style:none; color:wheat" href="/Home/Delete/@e1.Id"> Delete </a>  </td>
                </tr>


            </tbody>

        }
    </table>
</div>
