﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <title></title>
</head>
<body>

    @ViewBag.MyMessage   @Model.Name 's profile
    <form action="/Test/AfterEdit" method="POST">


        <div class="form-group">
            <label for="Id" style="margin-left: 10px;">ID</label>
            <input type="hidden" style="margin-left: 10px;" class="form-control" id="Id" name="Id"
                   value="@Model.Id">
        </div>

        <div class="form-group">
            <label for="Name" style="margin-left: 10px;">Name</label>
            <input type="text" style="margin-left: 10px;" class="form-control" id="Name" name="Name"
                   value="@Model.Name">
        </div>
        <div class="form-group">
            <label for="Address" style="margin-left: 10px;">Address</label>
            <input type="text" style="margin-left: 10px;" class="form-control" id="Address" name="Address"
                   value="@Model.Address">
        </div>

        <button type="submit" style="margin-left: 10px;" class="btn btn-primary">Update</button>
    </form>
</body>
</html>