﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <title>Display</title>
    <script>
        function GetData()
      {
            $("#containerUL").append("<li></li>");

           $.ajax({
        url: "/Test1/Index/2",
        contentType: "application/json",
        type: "GET",
        success: function (result) {
        debugger;
        $("#containerUL").html('');

        result.map((item) => {
        let liElement = "<li>" + item.Id + " | " + item.Name + " | " + item.Address + " | " + "</li>";
        $("#containerUL").append(liElement);
        });
        debugger;
        },
        error: function (error) {
        debugger;
        alert("Something is not right here!")
        }
        });

      }
    </script>
</head>
<body>
    <h2>welcome to view using ajaxs</h2>
    <ul id="containerUL">
        <li>content fron ajax</li>
    </ul>

    <br />
    <input type="button" value="get json using ajax" onclick="GetData()" >
</body>
</html>
