﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Model.Name
        No: @Html.TextArea("No");<br />
        Name: @Html.TextArea("Name");<br />
        Address: @Html.TextArea("Address");<br />
    </div>
</body>
</html>
