﻿@* handle error class object{

    Layout = "~/Views/Shared/MainMasterLayout.cshtml";
}*@
<div>
    <h1>Some is not right here.. Pls try again after some time</h1>
    <h6>Technical details:</h6>
    <p>
        @*model is handle error info class object*@
        @Model.Exception.Message
    </p>
    <br />
    <a href="/Home/Show" class="btn btn-info" style="margin-left: 10px;">Go to Home Page</a>
</div>



@*below code for try catch*@ 

@*{

        Layout = "~/Views/Shared/MainMasterLayout.cshtml";
    }
    <div>
        <h1>Some is not right here.. Pls try again after some time</h1>
        <h6>Technical details:</h6>
        <p>
    model is exception class object
            @Model.Message
        </p>
        <br />
        <a href="/Home/Show" class="btn btn-info" style="margin-left: 10px;">Go to Home Page</a>
    </div>*@
