﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
 <title>Show</title>

</head>
<body>
    <div class="container col-md-6"  >

        <table border="1" class="table" style="margin:10px">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var e1 in Model)
            {

                <tbody>
                    <tr>
                        <td>@e1.Id</td>
                        <td>@e1.Name</td>
                        <td>@e1.Address</td>
                        <td> <a style="text-decoration-style:none; color:wheat" href="/Test/Edit/@e1.Id">Edit </a>  </td>
                        <td>  <a style="text-decoration-style:none; color:wheat" href="/Test/Delete/@e1.Id"> Delete </a>  </td>
                    </tr>


                </tbody>

            }
        </table>
    </div>
</body>
</html>
