﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>xyz</title>
</head>
<body>
    <div>
        <h2>
             no @Model.No
        </h2>
        <h2>
             name @Model.Name
        </h2>
        <h2>
            Address @Model.Address
        </h2>


    </div>
</body>
</html>
